title{
    text-align: center;}
title{
    font-size: 600 px;
}
   
h2{
    text-align: center;
}
h2{
    color: #006EB6;
}

h2{
line-height: 1.5;}
title{
    line-height: 1.5;}
body{
    line-height: 1.5;}

body{text-align: center;}