header {
    font-size: 700 px;
}

.container{
    display: grid;
}

 @media screen and (min-width: 500px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    header {
        background-color: white;
        color: black
    }
  }

  @media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


header{
    text-align: center;
    font-size: 50px;
    
}

header a{
    color: #473144;
}

body{
    text-align:center;
}

/* Gold color: #EFC69B
Red color: #AF1B3F
Dark color: #473144
Body font: Helvetica, Arial, sans-serif
Headline font: Lora, Impact, serif (Lora can be found on Google Fonts.) */

.main-nav{
    text-align: center;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.main-nav a{
    color: #AF1B3F;
}